/* You can add global styles to this file, and also import other style files */
body {
    background-color: #91B9FE;
}

div.container { 
    background-color: #6E60F7;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
}